.circle {
  fill: black;
  stroke: #0F1C3F;
}

/*.heightBig {*/
/*  height: 170px !important;*/
/*}*/

/*.heightSmall {*/
/*  height: 170px !important;*/
/*}*/

.cellClicked {
  fill: red;
}

.cellHighlighted {
  fill: blue;
}

.line {
  stroke-width: 7px;
}