.circle {
  fill: black;
  stroke: #0F1C3F;
}


.cellClicked {
  fill: red;
}

.cellHighlighted {
  fill: blue;
}

.line {
  stroke-width: 5px;
}

.grid {
  height: 100px;
}

@media (width <= 576px) {
  .grid {
    height: 55px;
  }
}