.container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin: 1.5rem;
}

.leftContainer {
    width: 20%;
    text-align: center;
    margin-left: 10px;
}

.nameDescription {
    text-align: left;
}

.rightContainer {
    width: 30%;
    height: fit-content;
}

.gameCard {
    transform: scale(100%);
    transition: 0.2s ease-in;
}

.gameCard:hover {
    transform: scale(102%);
    animation: 0.5s ease-in;
}

@media (576px >= width) {
    .container {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 0;
    }

    .leftContainer {
        width: 100%;
    }

    .rightContainer {
        width: 100%;
    }
}

@media (768px <= width <= 1024px) {
    .leftContainer {
        width: 30%;
    }

    .rightContainer {
        width: 50%;
    }

}

